<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.silk.mapper.SildesMapper">

    <resultMap type="com.leslie.silk.entity.Sildes" id="SildesMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="targetUrl" column="target_url" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="activeFlag" column="active_flag" jdbcType="INTEGER"/>
        <result property="pageType" column="page_type" jdbcType="INTEGER"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
          id, img_url, target_url, title, content, active_flag, page_type, order_num, group_id, create_time
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="SildesMap">
        select
          <include refid="Base_Column_List"/>
        from sildes
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SildesMap">
        select
        <include refid="Base_Column_List"/>
        from sildes
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SildesMap">
        select
          <include refid="Base_Column_List"/>
        from sildes
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl}
            </if>
            <if test="targetUrl != null and targetUrl != ''">
                and target_url = #{targetUrl}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="activeFlag != null">
                and active_flag = #{activeFlag}
            </if>
            <if test="pageType != null">
                and page_type = #{pageType}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sildes(img_url, target_url, title, content, active_flag, page_type, order_num, group_id, create_time)
        values (#{imgUrl}, #{targetUrl}, #{title}, #{content}, #{activeFlag}, #{pageType}, #{orderNum}, #{groupId}, #{createTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sildes
        <set>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="targetUrl != null and targetUrl != ''">
                target_url = #{targetUrl},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>
            <if test="pageType != null">
                page_type = #{pageType},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sildes where id = #{id}
    </delete>

</mapper>