<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leslie.silk.mapper.TimelineDetailMapper">

    <resultMap type="com.leslie.silk.entity.TimelineDetail" id="TimelineDetailMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="timelineId" column="timeline_id" jdbcType="INTEGER"/>
        <result property="dateNode" column="date_node" jdbcType="TIMESTAMP"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TimelineDetailMap">
        select
          id, timeline_id, date_node, title, content
        from timeline_detail
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TimelineDetailMap">
        select
          id, timeline_id, date_node, title, content
        from timeline_detail
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TimelineDetailMap">
        select
          id, timeline_id, date_node, title, content
        from timeline_detail
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="timelineId != null">
                and timeline_id = #{timelineId}
            </if>
            <if test="dateNode != null">
                and date_node = #{dateNode}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into timeline_detail(timeline_id, date_node, title, content)
        values (#{timelineId, jdbcType=INTEGER}, #{dateNode, jdbcType=TIMESTAMP}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update timeline_detail
        <set>
            <if test="timelineId != null">
                timeline_id = #{timelineId},
            </if>
            <if test="dateNode != null">
                date_node = #{dateNode},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from timeline_detail where id = #{id}
    </delete>
    
    <select id="listByTimelineId" resultMap="TimelineDetailMap">
        select id, timeline_id, date_node, title, content
        from timeline_detail
        where timeline_id = #{timelineId,jdbcType=DECIMAL}
        order by date_node
    </select>

</mapper>